# laptop specific programs
# notification for low battery
exec --no-startup-id i3-battery-popup -n
# 2 in 1 pc handling
exec --no-startup-id watch_tablet
exec --no-startup-id screenrotator
exec --no-startup-id touchegg
exec --no-startup-id onboard
exec_always --no-startup-id xkbcomp -w 0 ~/dotfiles/xkbmap $DISPLAY

