# screen setup
HOSTNAME=$(uname -n)
FILE=~/dotfiles/screenlayout/$HOSTNAME.sh
if test -f "$FILE"; then
  $FILE
fi
picom -b --config ~/.config/picom/picom.conf
~/.config/i3/bg_setter.sh

# application start
nm-applet &
dunst -config ~/.config/dunst/dunstrc &
kdeconnect-indicator &
killall unclutter; unclutter &
killall redshift; redshift &

~/.config/polybar/launch_polybar.sh &

if [ "$name" = "astolfo" ]; then
	i3-battery-popup &
fi
