# Ensures .xprofile is sourced only once
# as it sourced twice in nixos (https://github.com/NixOS/nixpkgs/issues/119513)
if [ -z $_XPROFILE_SOURCED ]; then
  export _XPROFILE_SOURCED=1
  
	# screen setup
	HOSTNAME=$(uname -n)
	FILE=~/dotfiles/screenlayout/$HOSTNAME.sh
	if test -f "$FILE"; then
		$FILE
	fi
	picom -b --config ~/.config/picom/picom.conf
	~/.config/i3/bg_setter.sh

	# application start
	nm-applet &
	kdeconnect-indicator &

	# update hwmon path for polybar
	for i in /sys/class/hwmon/hwmon*/temp*_input; do
		if [ "$(<$(dirname $i)/name): $(cat ''${i%_*}_label 2>/dev/null || echo $(basename ''${i%_*}))" = "coretemp: Core 0" ]; then
				export HWMON_PATH="$i"
		fi
	done

	if [ "$HOSTNAME" = "astolfo" ]; then
		i3-battery-popup &
	fi

	pkill polybar; ~/.config/polybar/launch_polybar.sh &

fi

# dunst -config ~/dotfiles/config/dunst/dunstrc &
